/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
html,
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
nav * {
  margin: 3px;
}
nav {
  width: 100%;
  height: 12vh;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  margin: 0 15px;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 5px;
  font-size: 22px;
}
nav img {
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}
.page1 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page1 > h1 {
  font-size: 60px;
}
.page1 > p {
  font-size: 20px;
  margin: 5px;
}

.page2 {
  height: 100vh;
}
.page2 h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(26 178 107);
  text-underline-offset: 8px;
  font-size: 40px;
}
.container2 h3{
    color: rgb(26 178 107);
    font-size: 25px;
}
.container2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container2 img {
  max-width: 100%; /* Hace que las imágenes no excedan el tamaño de su contenedor */
  max-height: 100px; /* Controla la altura máxima de las imágenes */
  object-fit: contain; /* Mantiene la relación de aspecto de las imágenes */
}
.container2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra el contenido dentro de cada div */
  text-align: center;
  padding: 30px;
  margin: 20px;
}
.page3{
    height: 100vh;
    display: flex;
    background-color: #1ab26b;
    color: white;
    padding: 10px;
    margin: 20px;
}
.titulo{
    text-decoration: underline;
    text-underline-offset: 20px;
    margin:50px;
    
}
.page3 img{
    max-width: 100%; 
    max-height: 100%;/* Hace que las imágenes no excedan el tamaño de su contenedor */ /* Controla la altura máxima de las imágenes */
    object-fit: contain;
}
.icon{
    height: 100px;
    margin: 50px;
    
}
.iconcontainer{
display: flex;
align-items: center;
}
.texto{
    margin:50px;
}
.texto>p{
    font-size: 20px;
}
.page3 h3{
    font-size: 30px;
}