/* Ire poniendo los selectores del ejercicio a partir de aqui*/
/* 1 
*{color:red;}*/
/* 2 
p{color:red;}*/
/* 3 
#title-1{
    color:red;}*/
/* 4 
.bg-yellow{color: yellow;}*/

/* 5 
[id]{
    color: brown;}*/
/* 6 
[id=title-1]{
    color:purple;}*/
/* 7 
[href="https://www.yahoo.com"]{
    color: pink;
}*/
/* 8 
[class^="title"]{
    background-color: pink;
}*/
/* 9 
[href$="com"]{
    color:pink;
}*/
/* 10 
[class^="title"]{
    color:red;
}*/
/* 11 
[href*="127"]{
    color:red;
}*/
/* 12 [href^="http"]{
    color: green;
}*/
/* 13 
a,p,h1{
    color:red;
}*/
/* 14 
main>p{
    color:red;
}*/
/* 15 
h1+*{
    background-color:red;
}*/
/* 16 
h1~*{
    background-color: red;
}*/
/* 17 
main>*{
    background-color: red;
}*/