* {
    background-color: bisque;
}
h1{
 color: red;
 display: inline;
}
p{
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px solid red;
    
}
h1:hover{
    color:blue;
}
p::selection{
    color: purple;
    background-color: yellow;
}